@model IEnumerable<MyShop.Application.Cart.GetCart.Response>

@{ 
    
}

    <div>
        <p class="title">Cart</p>
        @foreach (var product in Model)
        {
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="~/images/item.jpg" />
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                
            </div>            
        </div>        
    </article>

            <p>@product.Name</p>
            <p>@product.Value</p>
            <p>@product.Qty</p>
            <p>@product.StockId</p>
            <hr />
        }
    </div>