@page
@model MyShop.UI.ViewModels.LoginViewModel
@{
}

    <div class="container">
        <div class="column is-6 is-offset-3">
            <form method="post" asp-controller="Account" asp-action="Login">

                <div class="field">
                    <label class="label">User name</label>
                    <div class="control">
                        <input class="input" asp-for="@Model.UserName" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" asp-for="@Model.Password" />
                    </div>
                </div>

                <div class="field">
                    <div class="control has-text-right">
                        <button type="submit" class="button is-link">Sign in</button>
                    </div>
                </div>

            </form>
        </div>        
    </div>


